<div class="weekly-summary">
  {{summary}}
</div>

<div class="daily-container" *ngFor="let data of dailyForecast">
  <div class="day">
    {{data.time | date: 'EEE MMM d'}}
  </div>

  <div class="image" [ngSwitch]="data.icon">
    <img *ngSwitchCase="'clear-day'" src="../../assets/images/clear-day.svg" alt="icon image">
    <img *ngSwitchCase="'clear-night'" src="../../assets/images/clear-night.svg" alt="icon image">
    <img *ngSwitchCase="'cloudy'" src="../../assets/images/cloudy.svg" alt="icon image">
    <img *ngSwitchCase="'fog'" src="../../assets/images/fog.svg" alt="icon image">
    <img *ngSwitchCase="'partly-cloudy-day'" src="../../assets/images/partly-cloudy-day.svg" alt="icon image">
    <img *ngSwitchCase="'partly-cloudy-night'" src="../../assets/images/partly-cloudy-night.svg" alt="icon image">
    <img *ngSwitchCase="'rain'" src="../../assets/images/rain.svg" alt="icon image">
    <img *ngSwitchCase="'sleet'" src="../../assets/images/sleet.svg" alt="icon image">
    <img *ngSwitchCase="'snow'" src="../../assets/images/snow.svg" alt="icon image">
    <img *ngSwitchCase="'wind'" src="../../assets/images/wind.svg" alt="icon image">
  </div>

  <div class="temp">
    <div class="temp-header">
      <h4>Hi/Lo</h4>
    </div>

    <div class="temp-hi-lo" [ngSwitch]="weather.units">
      <div *ngSwitchCase="'metric'">
        {{data.tempMaxC | number: '1.0-1'}} °C / {{data.tempMinC | number: '1.0-1'}} °C
      </div>

      <div *ngSwitchCase="'imperial'">
        {{data.temperatureMax | number: '1.0-0'}} °F / {{data.temperatureMin | number: '1.0-0'}} °F
      </div>
    </div>
  </div>

  <div>Precipitation {{data.precipProbability | percent}} {{precipType | titlecase}}</div>
  <div>Humidity {{data.humidity | percent}}</div>
  <div class="wind" [ngSwitch]="weather.units">
    <div *ngSwitchCase="'metric'">Wind: {{data.cardinal}} {{data.windKph | number: '1.0-0'}} km/h</div>
    <div *ngSwitchCase="'imperial'">Wind: {{data.cardinal}} {{data.windSpeed | number: '1.0-0'}} mph</div>
  </div>
  <div>{{data.summary}}</div>

  <br>

</div>


<!-- <div class="daily-container">
  <div class="day">
    {{time | date: 'EEE MMM d'}}
  </div>

  <img src="" alt="weather pic">

  <div class="temp">
    <div class="temp-header">
      <h4>Hi/Lo</h4>
    </div>

    <div class="temp-hi-lo" *ngIf="weather.units">
      {{tempHighC | number: '1.0-1'}} °C / {{tempLowC | number: '1.0-1'}} °C
    </div>

    <div class="temp-hi-lo" *ngIf="!weather.units">
      {{tempHighF | number: '1.0-1'}} °F / {{tempLowF | number: '1.0-1'}} °F
    </div>
  </div>

  <div>Precipitation {{precipitation | percent}} {{precipitationType | titlecase}}</div>
  <div>Humidity {{humidity | percent}}</div>
  <div *ngIf="weather.units">Wind: {{deg}} {{windKph | number: '1.0-2'}} km/h</div>
  <div *ngIf="!weather.units">Wind: {{deg}} {{windMph | number: '1.0-2'}} mph</div>
  <div>{{weatherSummary}}</div>
</div>

<br> -->
