<div *ngIf="currently">
  <div class="location">
    <div>{{weather.city | titlecase}}, {{weather.state | uppercase}}</div>
  </div>

  <div>{{currently.time | date: 'MMMM d, y'}}</div>
  <div>as of {{currently.time | date: 'h:mm: a'}}</div>

  <div class="image" [ngSwitch]="icon">
    <img *ngSwitchCase="'clear-day'" src="../../assets/images/clear-day.svg" alt="icon image">
    <img *ngSwitchCase="'clear-night'" src="../../assets/images/clear-night.svg" alt="icon image">
    <img *ngSwitchCase="'cloudy'" src="../../assets/images/cloudy.svg" alt="icon image">
    <img *ngSwitchCase="'fog'" src="../../assets/images/fog.svg" alt="icon image">
    <img *ngSwitchCase="'partly-cloudy-day'" src="../../assets/images/partly-cloudy-day.svg" alt="icon image">
    <img *ngSwitchCase="'partly-cloudy-night'" src="../../assets/images/partly-cloudy-night.svg" alt="icon image">
    <img *ngSwitchCase="'rain'" src="../../assets/images/rain.svg" alt="icon image">
    <img *ngSwitchCase="'sleet'" src="../../assets/images/sleet.svg" alt="icon image">
    <img *ngSwitchCase="'snow'" src="../../assets/images/snow.svg" alt="icon image">
    <img *ngSwitchCase="'wind'" src="../../assets/images/wind.svg" alt="icon image">
  </div>

  <div class="units" [ngSwitch]='weather.units'>
    <div *ngSwitchCase="'metric'">
      <h2>{{currently.tempC | number: '1.0-1'}} C°</h2>
      <div>Feels like {{currently.feelsLikeC | number: '1.0-1'}} C°</div>
    </div>

    <div *ngSwitchCase="'imperial'">
      <h2>{{currently.temperature| number: '1.0-0'}} F°</h2>
      <div>Feels like {{currently.apparentTemperature | number: '1.0-0'}} F°</div>
    </div>
  </div>

  <div>{{currently.summary | titlecase}}</div>

  <div>Precipitation: {{currently.precipProbability | percent}}</div>
  <div>Humidity: {{currently.humidity | percent}}</div>
  <div [ngSwitch]="weather.units">
    <div *ngSwitchCase="'metric'">Wind: {{deg}} {{currently.windKph | number: '1.0-0'}} km/h</div>
    <div *ngSwitchCase="'imperial'">Wind: {{deg}} {{currently.windSpeed | number: '1.0-0'}} mph</div>
  </div>

</div>
<!-- <app-daily-forecast *ngFor="let data of dailyForecast" [datas]="data"></app-daily-forecast> -->

<!-- <app-hourly-forecast *ngFor="let data of forecastData" [hourly]="data"></app-hourly-forecast> -->
