<div class="sidebar">
  <div class="add-new-city">
    <span class="new-city-button">+</span>
  </div>

  <div class="location-menu">
    <div class="locations-header">
      Your Locations
    </div>

    <div class="locations">

    </div>

  </div>
</div>

<br>
<button (click)="toggleImperial()">Imperial</button>
<button (click)="toggleMetric()">Metric</button>
<br>
<br>

<input type="text">

<app-navbar></app-navbar>

<app-main-weather></app-main-weather>
<!-- <app-main-weather></app-main-weather> -->
<router-outlet></router-outlet>
